<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" [defaultHref]="'/home'"></ion-back-button>
    <ion-img src="assets/logo-horizontal-white.png" style="height: 45px;"></ion-img>
    <ion-buttons slot="end">
      <ion-button (click)="hoje.click()" fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!--suppress HtmlUnknownTarget -->
  <a #hoje href="/producao#hoje" style="visibility: hidden;"></a>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-margin">
    <ion-icon name="calendar-number-sharp" color="primary" slot="end" style="font-size: 2.4rem;"></ion-icon>
    <ion-label position="stacked">Mês/Ano:</ion-label>
    <ion-datetime
      displayFormat="MMMM / YYYY"
      pickerFormat="MMMM / YYYY"
      doneText="Ok"
      cancelText="Cancelar"
      name="hora"
      (ionChange)="getProducao()"
      [max]="dtConfig.max"
      [monthShortNames]="dtConfig.monthShortNames"
      [monthNames]="dtConfig.monthNames"
      [(ngModel)]="data"
    ></ion-datetime>
  </ion-item>
  <div *ngIf="!loading.producao" [@slideOutAnimation]="producao?.length">
    <ion-card *ngFor="let dia of producao" [attr.id]="isNow(dia.date) ? 'hoje' : ''">
      <ion-item>
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-label>{{(formatDate(dia.date) | date : 'E dd/MM') | titlecase}}</ion-label>
        <ion-item slot="end" lines="none" style="text-align: right;">
          <ion-badge
            *ngIf="isNow(dia.date)"
            color="success"
          >Hoje
          </ion-badge>
          <ion-badge
            style="margin-left: 8px;"
            *ngIf="dia.day_type" [color]="dia.day_type.day_type === 'feriado' ? 'warning' : 'tertiary'"
          >{{dia.day_type.day_type_display}}</ion-badge>
        </ion-item>
      </ion-item>

      <ion-card-content>
        <ion-row class="header-row">

          <ion-col size="12" *ngIf="dia?.day_type?.day_type === 'feriado'">
            <h1>
              Feriado: {{dia?.day_type?.status_display}}
            </h1>
          </ion-col>

          <ion-col *ngIf="dia?.timeline?.length === 0" size="12">
            <h2>Nenhum ponto registrado para este dia.</h2>
          </ion-col>

          <ion-col size="12" *ngFor="let detalhes of dia?.timeline; let i = index">
            <h1>
              <ion-icon [color]="i % 2 === 0 ? 'success' : 'danger'" name="pin"></ion-icon>
              {{detalhes.worktime_clock | date : 'HH:mm'}}
              <ion-badge
                *ngIf="detalhes.rectification"
                [color]="detalhes.rectification.status === 'aprovado' ? 'success' : 'warning'"
              >{{detalhes.rectification.status_display}}</ion-badge>
            </h1>
          </ion-col>

          <ion-col *ngIf="dia?.timeline?.length > 0" size="12">
            <h2>Produção: {{dia.production | date : 'HH:mm'}}</h2>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="modalRasura(dia)" expand="block" color="primary">Rasurar</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="modalHoraExtra(dia)" expand="block" color="medium">H. Extra / Ausência</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="loading.producao">
    <ion-card>
      <ion-item>
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-item>

      <ion-card-content>
        <ion-row class="header-row">

          <ion-col size="12">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-col>

          <ion-col size="6">
            <ion-button [disabled]="true" expand="block" color="primary">Rasurar</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button [disabled]="true" expand="block" color="medium">H. Extra / Ausência</ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
