<ion-list>
  <ion-item>
    <ion-icon
      [color]="'success'"
      [name]="'arrow-forward-outline'"
      slot="start"
    ></ion-icon>
    <h1>HH:mm:ss</h1>
  </ion-item>
  <!--        <ng-template>-->
  <!--          <ion-item>-->
  <!--            <ion-icon-->
  <!--              [color]="'success'"-->
  <!--              [name]="'arrow-back-outline'"-->
  <!--              slot="start"-->
  <!--            ></ion-icon>-->
  <!--            <h1>HH:mm:ss</h1>-->
  <!--          </ion-item>-->
  <!--        </ng-template>-->
  <!--        <ng-template #listaVazia>-->
  <!--          <ion-item>-->
  <!--            <ion-icon-->
  <!--              [color]="loading.timeline ? 'tertiary': 'warning'"-->
  <!--              [name]="loading.timeline ? 'hourglass-outline' : 'information-outline'"-->
  <!--              slot="start"-->
  <!--            ></ion-icon>-->
  <!--            <ion-label [color]="loading.timeline ? 'tertiary': 'warning'">-->
  <!--              {{loading.timeline ? 'Carregando...' : 'Nenhum ponto registrado hoje.'}}-->
  <!--            </ion-label>-->
  <!--          </ion-item>-->
  <!--        </ng-template>-->
</ion-list>
