::ng-deep {
  ion-modal.datePicker {
    --height: 312px;
    --width: 320px;
    background: rgba(0, 0, 0, .8);
    --border-radius: 8px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  ion-modal.datePicker::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal.datePicker {
    ion-content {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;

      ion-datetime {
        --background: var(--ion-background-color);
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        max-height: 199px;

        .datetime-time {
          --padding-start: 0;
          --padding-end: 0;
          --padding-top: 0;
          --padding-bottom: 0;
        }
      }
    }

    .actionButtons {
      display: flex;
      height: 56px;
      //background: red;
      background: #2c2c2c;
      padding: 8px;
      gap: 6px;

      ion-button {
        width: 100%;
        height: 100%;
        align-self: stretch;
        flex-grow: 1;
        margin: 0;
      }
    }
  }
}
