<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Selecione o mês/ano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-datetime
    id="datetime"
    presentation="month-year"
    [(ngModel)]="dataSelecionada"
    [max]="dtConfig.max"
    [min]="dtConfig.min"
    [showDefaultButtons]="false"
  ></ion-datetime>

</ion-content>
<ion-footer>
  <div class="actionButtons">
    <ion-button color="danger" class="btnSized" (click)="cancel()">Cancelar</ion-button>
    <ion-button color="success" class="btnSized" (click)="confirm()">Ok</ion-button>
  </div>
</ion-footer>
