::ng-deep {
  ion-modal.timePicker {
    --height: 347px;
    --width: 320px;
    --border-radius: 8px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  ion-modal.timePicker::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  ion-modal.timePicker ion-footer ion-toolbar {
    --background: var(--ion-color-medium);
    --color: white;

    ion-buttons {
      justify-content: space-around;
      flex-wrap: nowrap;
      ion-button {
        width: 100%;
      }
    }
  }
}
