<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" class="ion-align-self-center">
        <form [formGroup]="form" (submit)="onSubmit()">
          <ion-card>
            <ion-card-header>
              <ion-img [src]="darkMode ? logotipo.dark : logotipo.normal"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label position="stacked">Usuário:</ion-label>
                <ion-input type="text" name='username' formControlName="username" clearInput></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">Senha:</ion-label>
                <ion-input type="password" name='password' formControlName="password" clearInput></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Lembrar</ion-label>
                <ion-checkbox slot="start" formControlName="remember"></ion-checkbox>
              </ion-item>
              <ion-button style="margin-top: 30px;" type="submit" expand="full">Entrar</ion-button>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
