<ion-content>
  <!--  <video autoplay loop src="assets/videoplayback.mp4"></video>-->
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" class="ion-align-self-center">
        <form [formGroup]="form" (submit)="onSubmit()">
          <ion-card>
            <ion-card-header>
              <div class="logotipo"></div>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label position="stacked">Usuário:</ion-label>
                <ion-input
                  #inputUsername
                  type="text"
                  enterkeyhint="next"
                  inputmode="text"
                  spellcheck="false"
                  name='username'
                  formControlName="username"
                  (keyup.enter)="inputPass.setFocus()"
                  autofocus
                  clearInput
                ></ion-input>
                <app-invalid-message [control]="form.get('username')"></app-invalid-message>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">Senha:</ion-label>
                <app-input-password-toggle>
                  <ion-input
                    #inputPass
                    class="input-pass"
                    [type]="hidePasswd ? 'password' : 'text'"
                    enterkeyhint="send"
                    inputmode="text"
                    spellcheck="false"
                    (keyup.enter)="onSubmit()"
                    [clearOnEdit]="true"
                    name="password"
                    formControlName="password"
                    clearInput
                  ></ion-input>
                </app-input-password-toggle>
                <app-invalid-message [control]="form.get('password')"></app-invalid-message>
              </ion-item>
              <ion-button [disabled]="loading" class="ion-margin" type="submit" expand="block" size="default">
                <ion-icon slot="start" name="checkmark-outline"></ion-icon>Entrar
              </ion-button>
              <ion-button
                *ngIf="biometryAvaliable && biometricAccessEnabled"
                [disabled]="loading"
                (click)="ionViewWillEnter()"
                class="ion-margin biometricSpace" size="default"
                type="button"
                expand="block"
                color="tertiary"
              >
                <ion-icon slot="start" name="finger-print-outline"></ion-icon>Usar Biometria
              </ion-button>
              <ion-item lines="none" *ngIf="biometryAvaliable && !biometricAccessEnabled">
                <ion-icon slot="start" color="tertiary" name="finger-print-outline"></ion-icon>
                <ion-label>Ativar acesso com biometria</ion-label>
                <ion-toggle slot="end" color="tertiary" formControlName="biometry"></ion-toggle>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
