<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button [defaultHref]="'/home'" slot="start"></ion-back-button>
    <ion-img src="assets/logo-horizontal-white.png" style="height: 45px;"></ion-img>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausência e Hora extra</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let ausencia of ausencias">
        <ion-label class="ion-text-wrap">
          <h2>{{formatDate(ausencia.date) | date : 'dd/MM/YYYY'}}</h2>
          <p>{{ausencia.request_type_display}}</p>
          <p>{{ausencia.hours}}</p>
        </ion-label>
        <ion-note slot="end">
          <ion-text [color]="ausencia.status === 'aprovado' ? 'success' : 'danger'">
            {{ausencia.status_display}}
          </ion-text>
        </ion-note>
      </ion-item>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" position="bottom">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>
</ion-content>
