<ion-app>
  <ion-menu #menuPrincipal [swipeGesture]="false" type="push" side="start" menuId="principal" contentId="principal">
    <ion-header [translucent]="true">
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item
          *ngFor="let menu of menus; let i = index"
          [lines]="menus.length > 1 ? 'full' : 'none'"
          (click)="menuPrincipal.close()"
          [routerLink]="[menu.link]"
        >
          <ion-icon *ngIf="menu.icon" slot="start" [name]="menu.icon"></ion-icon>
          <ion-label>{{menu.label}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <p style="text-align: center;">versao: {{versao}}</p>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
