<ion-grid [fixed]="false">
  <ion-row>
    <ion-col>
      <p>Aprovadas:</p>
      <app-loading-text [loading]="loading.bancoDeHoras">
        <h3>{{bancoDeHoras?.balance ?? '0'}}h</h3>
      </app-loading-text>
    </ion-col>
    <ion-col>
      <p>Em análise:</p>
      <app-loading-text [loading]="loading.bancoDeHoras">
        <h3>{{bancoDeHoras?.pending ?? '0'}}h</h3>
      </app-loading-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Jornada:</p>
      <app-loading-text [loading]="loading.summary">
        <h3>{{summary?.workingHours ?? '0'}}h</h3>
      </app-loading-text>
    </ion-col>
    <ion-col>
      <p>Carga horária:</p>
      <app-loading-text [loading]="loading.summary">
        <h3>{{summary?.hoursToWork ?? '0'}}h</h3>
      </app-loading-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Dias úteis:</p>
      <app-loading-text [loading]="loading.summary">
        <h3>{{summary?.businessDays ?? '0'}}</h3>
      </app-loading-text>
    </ion-col>
    <ion-col>
      <p>Restante:</p>
      <app-loading-text [loading]="loading.summary">
        <h3>{{summary?.remainingHours ?? '0'}}h</h3>
      </app-loading-text>
    </ion-col>
  </ion-row>
</ion-grid>
