<ion-grid  [fixed]="false">
  <ion-row>
    <ion-col>
      <p>Aprovadas:</p>
      <h3>+33:31h</h3>
    </ion-col>
    <ion-col>
      <p>Em análise:</p>
      <h3>00:00h</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Jornada:</p>
      <h3>8h</h3>
    </ion-col>
    <ion-col>
      <p>Carga horária:</p>
      <h3>184h</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>Dias úteis:</p>
      <h3>23</h3>
    </ion-col>
    <ion-col>
      <p>Restante:</p>
      <h3>93h</h3>
    </ion-col>
  </ion-row>
</ion-grid>
