<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" size="large" (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitar Rasura</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="salvar()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-item>
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-label>{{dados?.date | date : 'dd/MM/yyyy'}}</ion-label>
      </ion-item>

      <ion-card-content>
        <ion-list formArrayName="rectifications" [@slideOutAnimation]="retificacoes.length > 0">
          <ion-item *ngFor="let item of retificacoes.controls; let i = index" [formGroupName]="i">
            <ion-icon
              [color]="item?.get('checkIn')?.value ? 'success' : 'danger'"
              [name]="item?.get('checkIn')?.value ? 'arrow-forward-outline' : 'arrow-back-outline'"
              slot="start"
            ></ion-icon>
            <ion-label (click)="updateRetificacao(i)">
              <h4>{{item?.get('position')?.value}}&deg; {{item?.get('checkIn')?.value ? 'Entrada' : 'Saída'}}</h4>
              <h2>{{item?.get('worktimeClock')?.value !== null ? (item?.get('worktimeClock')?.value | date : 'HH:mm') : 'Informe a hora'}}</h2>
            </ion-label>
            <ion-button *ngIf="checkDeletePossible(i)" fill="clear" size="large" slot="end" (click)="deleteRetificacao(i)">
              <ion-icon color="danger" name="trash"></ion-icon>
            </ion-button>
            <app-invalid-message [control]="item.get('worktimeClock')"></app-invalid-message>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h3>Total: {{(diferenca() | async) | date : 'HH:mm' }}</h3>
            </ion-label>
            <ion-icon name="timer-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Motivo (opcional):</ion-label>
            <ion-textarea formControlName="reason"></ion-textarea>
            <app-invalid-message [control]="form.get('reason')"></app-invalid-message>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-fab *ngIf="retificacoes.length < 10" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRetificacao()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <pre>
      <code>
        {{form.value | json}}
      </code>
      <code>
        {{retificacoes.length | json}}
      </code>
      <code>
        {{dados | json}}
      </code>
    </pre>
</ion-content>
