<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" [defaultHref]="'/home'"></ion-back-button>
    <ion-img style="height: 45px;" src="assets/logo-horizontal-white.png"></ion-img>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item lines="none">
      <ion-icon color="tertiary" name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Perfil</ion-label>
      <ion-button fill="outline" [color]="perfil?.status === 'ativo' ? 'success' : 'danger'" slot="end">{{perfil?.status_display}}</ion-button>
    </ion-item>

    <ion-card-content>

      <ion-item>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" [src]="getAvatar()" />
        </ion-avatar>
        <ion-label>{{perfil?.name_display}}</ion-label>
      </ion-item>

<!--      <ion-item>-->
<!--        <ion-label position="stacked">Nome:</ion-label>-->
<!--        <ion-input [value]="perfil?.name_display" [readonly]="true"></ion-input>-->
<!--      </ion-item>-->
      <ion-item>
        <ion-label position="stacked">Matricula:</ion-label>
        <ion-input (focus)="$event.preventDefault()" [value]="perfil?.csys_registration_number" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input [value]="perfil?.corporate_email" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Cargo:</ion-label>
        <ion-textarea [value]="perfil?.position_display?.position_display" [readonly]="true"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Valor/Hora: R$</ion-label>
        <ion-input [value]="showAmount ? (perfil?.hourly_rate | number : '0.2-2') : ''" [readonly]="true"></ion-input>
        <ion-icon
          slot="end"
          (click)="toggleAmount()"
          [name]="showAmount ? 'eye-off-outline' : 'eye-outline'"
          style="margin-top: 32px;"
        ></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data de adesão:</ion-label>
        <ion-input [value]="perfil?.affiliation_date | date : 'dd/MM/yyyy'" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Data de início:</ion-label>
        <ion-input [value]="perfil?.start_date | date : 'dd/MM/yyyy'" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item *ngFor="let budget of perfil?.budgets">
        <ion-label position="stacked">{{budget.budget_kind_display}}</ion-label>
        <ion-input [value]="budget['has'] ? 'Sim' : 'Não'" [readonly]="true"></ion-input>
      </ion-item>

      <ion-button
        size="large"
        type="button"
        color="danger"
        expand="full"
        (click)="sair()"
        style="margin-top: 30px;"
      >
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        Sair
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
