<ion-menu
  #menuPrincipal
  [swipeGesture]="swipe"
  type="overlay"
  side="start"
  menuId="principal"
  contentId="principal"
  class="appMenu"
>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="main-menu">
    <ion-list class="menu-list">
      <ng-template ngFor let-menu [ngForOf]="menus" let-i="index">
        <ion-item
          *ngIf="menu.visible"
          [lines]="menus.length > 1 ? 'full' : 'none'"
          (click)="menuPrincipal.close()"
          [routerLink]="[menu.link]"
          [routerLinkActive]="menu.link"
          [routerLinkActiveOptions]="{exact: true}"
          routerDirection="forward"
        >
          <ion-icon *ngIf="menu.icon" slot="start" [name]="menu.icon"></ion-icon>
          <ion-label>{{menu.label}}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-content>
  <p style="text-align: center;">Versão: {{versao}}</p>
</ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>

<!--<ion-tabs>-->
<!--  <ion-router-outlet></ion-router-outlet>-->
<!--  <ion-tab-bar slot="bottom">-->
<!--    <ng-container *ngFor="let menu of menus; let i = index">-->
<!--      <ion-tab-button *ngIf="menu.visible" [tab]="menu.link">-->
<!--        &lt;!&ndash;      <ion-icon name="play-circle"></ion-icon>&ndash;&gt;-->
<!--        <ion-icon [name]="menu.icon"></ion-icon>-->
<!--        {{menu.label}}-->
<!--      </ion-tab-button>-->
<!--    </ng-container>-->
<!--  </ion-tab-bar>-->
<!--</ion-tabs>-->
