ion-menu.appMenu {
  &::part(container) {
    box-shadow: 0 0 21px 15px rgba(0,0,0,0.46);
  }

  ion-header {
    ion-toolbar {
      //--min-height: 56px;
      --border-width: 0;
      .toolbar-container {
        //min-height: 51px;
      }
    }
  }
  ion-content {
    &::part(scroll) {
      //background: blue;
    }
  }

  &:host(.menu-type-overlay) .show-backdrop {
    //background: rgba(0, 255, 0, 1)!important;
    //opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  ion-content.main-menu {
    &::part(background) {
      //background: #051a13;
      background: #202020;
    }

    ion-list.menu-list {
      --background: unset;
      background: unset;
      ion-item {
        --background: unset;
        background: unset;
        &::part(native) {
          --background: unset;
          background: unset;
          border-bottom: 1px solid #666666;
        }
      }
    }
  }
}
