.slider {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  background-color: unset;
  height: 100%;

  .item {
    align-self:stretch;
    background: unset;
    display: block;
    line-height: 0!important;

    h1 {
      margin: 0;
      padding: 0;
    }

    input[type="range"] {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;

      &::-webkit-slider-runnable-track {
        background-color: #eeeeee;
        border-radius: 6px;
        padding: 2px;
        border: 1px solid #c7c7c7;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 6px;
        height: 40px;
        width: 80px;
        border-width: 1px;
        border-style: solid;

        &:active, &:focus {
          outline: none;
        }
      }

      &.slide-primary {
        &::-webkit-slider-thumb {
          background: var(--ion-color-primary);
          border-color: var(--ion-color-primary-shade);
        }
      }

      &.slide-secondary {
        &::-webkit-slider-thumb {
          background: var(--ion-color-secondary);
          border-color: var(--ion-color-secondary-shade);
        }
      }

      &.slide-tertiary {
        &::-webkit-slider-thumb {
          background: var(--ion-color-tertiary);
          border-color: var(--ion-color-tertiary-shade);
        }
      }

      &.slide-success {
        &::-webkit-slider-thumb {
          background: var(--ion-color-success);
          border-color: var(--ion-color-success-shade);
        }
      }

      &.slide-warning {
        &::-webkit-slider-thumb {
          background: var(--ion-color-warning);
          border-color: var(--ion-color-warning-shade);
        }
      }

      &.slide-danger {
        &::-webkit-slider-thumb {
          background: var(--ion-color-danger);
          border-color: var(--ion-color-danger-shade);
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .slider {
    .item {
      input[type="range"] {
        &::-webkit-slider-runnable-track {
          background-color: #3f3f3f;
          border-color: #737373;
        }
      }
    }
  }
}
