<div class="slider">
  <div *ngIf="title" class="item">
    <h1>{{title}}</h1>
  </div>
  <div class="item">
    <input
      #inputSlider
      [class.slide-primary]="color === 'primary'"
      [class.slide-secondary]="color === 'secondary'"
      [class.slide-tertiary]="color === 'tertiary'"
      [class.slide-success]="color === 'success'"
      [class.slide-warning]="color === 'warning'"
      [class.slide-danger]="color === 'danger'"
      type="range"
      class="inputSlider"
      appSlideEvents
      (onDrop)="onDropped($event)"
    />
  </div>
</div>
