<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" size="large" (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitar Férias / Abono</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="salvar()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (submit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-buttons class="btn-toggle">
            <ion-button (click)="tipo = 'ferias'" [class.active]="tipo === 'ferias'" color="primary" size="large">
              Férias
            </ion-button>
            <ion-button (click)="tipo = 'abono'" [class.active]="tipo === 'abono'" color="primary" size="large">
              Abono
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-header>
      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Período:</ion-label>
          <ion-select formControlName="periodo">
            <ion-select-option *ngFor="let p of periodos; let i = index" [value]="p">
              {{p.de | date : 'dd/MM/yyyy'}} - {{p.ate | date : 'dd/MM/yyyy'}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ng-template [ngIf]="tipo === 'ferias'" [ngIfElse]="elAbono">

          <ion-item>
            <ion-label>Saldo atual:</ion-label>
            <ion-label slot="end">{{ferias}} dias</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Duração (dias uteis):</ion-label>
            <ion-select interface="popover" formControlName="duracao">
              <ion-select-option *ngFor="let d of duracao; let i = index" [value]="d">
                {{d}}
              </ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Data de início:</ion-label>
            <ion-datetime
              displayFormat="DD/MM/YYYY"
              pickerFormat="DD MMMM YYYY"
              placeholder="Selecione uma data"
              doneText="Selecionar"
              cancelText="Cancelar"
              [min]="dt.min"
              [max]="dt.max"
              formControlName="dataInicio"
              monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
              monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
            ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Desejo receber 70% de adiantamento para estas Férias</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Perdiodo Selecionado:</ion-label>
            <ion-label slot="end">{{form.controls.duracao.value ?? 0}} dias</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Saldo restante após aprovação:</ion-label>
            <ion-label slot="end">{{ferias - (form.controls.duracao.value ?? 0)}} dias</ion-label>
          </ion-item>
        </ng-template>
        <ng-template #elAbono>
          <ion-item>
            <ion-label>Saldo atual:</ion-label>
            <ion-label slot="end">{{abono}} dias</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Data de abono:</ion-label>
            <ion-datetime
              displayFormat="DD/MM/YYYY"
              pickerFormat="DD MMMM YYYY"
              placeholder="Selecione uma data"
              doneText="Selecionar"
              cancelText="Cancelar"
              [min]="dt.min"
              [max]="dt.max"
              formControlName="periodo"
              monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
              monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
            ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Duração:</ion-label>
            <ion-datetime formControlName="duracao" displayFormat="HH:mm"></ion-datetime>
          </ion-item>

          <ion-item class="ion-margin-bottom">
            <ion-label position="stacked">Motivo:</ion-label>
            <ion-textarea formControlName="justificativa"></ion-textarea>
          </ion-item>
        </ng-template>

        <ion-button class="ion-margin-top" expand="block" fill="outline" size="large" type="submit">Solicitar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
  <pre>
      <code>
        {{abono|json}}
      </code>
      <code>
        {{ferias|json}}
      </code>
      <code>
        {{periodo|json}}
      </code>
      <code>
        {{form.value|json}}
      </code>
    </pre>
</ion-content>
