<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" size="large" (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitar Hora Extra / Ausência para dias passados</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="salvar()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    modal-hora-extra works!
  </p>
</ion-content>
