<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" size="large" (click)="cancelar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Solicitar Hora Extra / Ausência para dias passados</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="salvar()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <h2 style="width: 100%;">Data:</h2>
            <h2 style="width: 100%;">{{(formatDate(dados.date) | date : 'E dd/MM') | titlecase}}</h2>
          </ion-item>
          <ion-item>
            <h2 style="width: 100%;">Produção:</h2>
            <h2 style="width: 100%;">{{formatDate(dados.production) | date : 'HH:mm'}}</h2>
          </ion-item>
          <ion-item>
            <h2 style="width: 100%;">Saldo:</h2>
            <h2 style="width: 100%;"> {{dados.balance}}</h2>
          </ion-item>
          <ion-item>
            <h2 style="width: 100%;">Solicitação:</h2>
            <h2 style="width: 100%;">{{getTipo() === 'hora_extra' ? 'Hora Extra' : 'Falta'}}</h2>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Motivo</ion-label>
            <ion-textarea formControlName="reason"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
