<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" menu="principal"></ion-menu-button>
    <ion-img style="height: 45px;" src="assets/logo-horizontal-white.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle-outline" style="font-size: 1.8rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-padding-horizontal">Arraste para atualizar</p>
  <ion-refresher slot="fixed" [snapbackDuration]="200" [closeDuration]="200" pullFactor="0.5" pullMin="120" pullMax="120">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Arraste para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando aguarde...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>

    <ion-card-content>
      <ion-item class="title" lines="none">
        <ion-icon color="tertiary" name="planet" slot="start"></ion-icon>
        <ion-badge slot="end">Qui. 07 de ABRIL</ion-badge>
        <ion-label>
          <h5>Produção de hoje</h5>
        </ion-label>
      </ion-item>

      <h5>Banco de horas:</h5>
      <ion-grid  [fixed]="false">
        <ion-row>
          <ion-col>
            <p>Aprovadas:</p>
            <h3>+33:31h</h3>
          </ion-col>
          <ion-col>
            <p>Em análise:</p>
            <h3>00:00h</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Jornada:</p>
            <h3>8h</h3>
          </ion-col>
          <ion-col>
            <p>Carga horária:</p>
            <h3>184h</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Dias úteis:</p>
            <h3>23</h3>
          </ion-col>
          <ion-col>
            <p>Restante:</p>
            <h3>93h</h3>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
