<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button color="light" slot="start" menu="principal"></ion-menu-button>
    <ion-img style="height: 45px;" src="assets/logo-horizontal-white.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/profile']">
        <ion-icon color="light" slot="icon-only" name="person-circle-outline" style="font-size: 1.8rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-padding-horizontal">Arraste para atualizar</p>
  <ion-refresher slot="fixed" [snapbackDuration]="200" [closeDuration]="200" pullFactor="0.5" pullMin="120" pullMax="120">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Arraste para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando aguarde...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>

    <ion-card-content>
      <ion-item class="title" lines="none">
        <ion-icon color="tertiary" name="planet" slot="start"></ion-icon>
        <ion-badge slot="end">
          {{(dataAtual | date : 'ccc dd') + ' de ' + (dataAtual | date : 'MMMM')}}
        </ion-badge>
        <ion-label>
          <h5>Produção de hoje</h5>
        </ion-label>
      </ion-item>

      <h5>Banco de horas:</h5>
      <app-banco-de-horas
        [loading]="{bancoDeHoras: loading.bancoDeHoras, summary: loading.summary}"
        [bancoDeHoras]="bancoDeHoras"
        [summary]="summary"
      ></app-banco-de-horas>

      <p>
        Entradas/Saídas:
      </p>
      <app-entradas-saidas
        [loading]="loading.timeline"
        [ponto]="ponto"
      ></app-entradas-saidas>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 10px 10px 10px;">
    <div style="margin-bottom: 0; margin-top: 0;">
      <ion-progress-bar
        [buffer]="1"
        [color]="'success'"
        [value]="10 / 100"
      ></ion-progress-bar>
    </div>
    <h1
      style="margin-top: 9px; margin-bottom: 0; text-align: center; font-size: 2rem;">HH:mm:ss</h1>
    <ion-button
      size="large"
      type="button"
      expand="block"
      [color]="'success'"
      style="margin-top: 4px;"
    >
      <ion-icon slot="start" [name]="'enter-outline'"></ion-icon>
      Entrada
    </ion-button>
  </ion-toolbar>
</ion-footer>
