<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>offline</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content class="offline-page">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-align-self-center ion-justify-content-center ion-text-center">
        <ion-img
          src="assets/offline-banner.png"
          alt="Offline"
          class="image"
        ></ion-img>
        <ion-text color="primary">
          <h1>Você esta offline</h1>
          <p>Por favor conecte-se a internet e tente novamente.</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
