<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" [defaultHref]="'/home'"></ion-back-button>
    <ion-img src="assets/logo-horizontal-white.png" style="height: 45px;"></ion-img>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon color="tertiary" name="options-outline" slot="start"></ion-icon>
      <ion-label>Opções</ion-label>
    </ion-item>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-list>

          <ion-item>
            <ion-label>Modo escuro</ion-label>
            <ion-select formControlName="darkMode" okText="Selecionar" cancelText="Cancelar">
              <ion-select-option *ngFor="let opt of opcoes.darkMode"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Lembrar login</ion-label>
            <ion-select formControlName="loginRemember" okText="Selecionar" cancelText="Cancelar">
              <ion-select-option *ngFor="let opt of opcoes.loginRemember"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Valor acumulado:</ion-label>
            <ion-select formControlName="valorAcumulado" okText="Selecionar" cancelText="Cancelar">
              <ion-select-option *ngFor="let opt of opcoes.loginRemember"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Tempo de intervalo:</ion-label>
            <ion-select formControlName="intervalo" name="intervalo" okText="Selecionar" cancelText="Cancelar">
              <ion-select-option
                *ngFor="let opt of opcoes.intervalo"
                [value]="opt.value"
              >
                {{opt.label}}
              </ion-select-option>
            </ion-select>
            <!--            <ion-input formControlName="intervalo" name="intervalo" type="number"></ion-input>-->
          </ion-item>

        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="tertiary" name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Atualiações</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item lines="none" *ngIf="loading">
        <ion-spinner color="tertiary" slot="start" name="crescent"></ion-spinner>
        <ion-text>
          <h2>Verificando atualizações</h2>
        </ion-text>
      </ion-item>
      <ion-item lines="none" *ngIf="!loading">
        <ng-template [ngIf]="atualizacaoDisponivel" [ngIfElse]="appAtualizado">
          <ion-icon color="warning" slot="start" name="alert-circle-outline"></ion-icon>
          <ion-text>
            <h2>Nova versão disponível {{versaoApp}}</h2>
          </ion-text>
        </ng-template>
        <ng-template #appAtualizado>
          <ion-icon color="success" slot="start" name="checkmark-done-outline"></ion-icon>
          <ion-text>
            <h2>Aplicativo atualizado {{versaoApp}}</h2>
          </ion-text>
        </ng-template>
      </ion-item>
      <ion-button expand="block" class="ion-margin-bottom" fill="outline" (click)="checkUpdate()">
        Verificar atualizações
      </ion-button>
      <ion-button
        *ngIf="!loading && atualizacaoDisponivel"
        color="tertiary"
        expand="block"
        class="ion-margin-top"
        fill="solid"
        [disabled]="atualizacao?.baixando"
        (click)="download()">
        Baixar nova versão
      </ion-button>
      <ion-progress-bar
        *ngIf="atualizacao"
        [buffer]="atualizacao.baixando"
        [color]="atualizacao.getStatusColor()"
        [value]="atualizacao.porcentagem()|async"
      ></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>
