<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button slot="start" [defaultHref]="'/home'"></ion-back-button>
    <ion-img style="height: 45px;" src="assets/logo-horizontal-white.png"></ion-img>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!--    <ion-card-header>-->
    <!--      <ion-card-title>-->
    <!--        <h3>Opções</h3>-->
    <!--      </ion-card-title>-->
    <!--    </ion-card-header>-->

    <ion-item>
      <ion-icon color="tertiary" name="options-outline" slot="start"></ion-icon>
      <ion-label>Opções</ion-label>
    </ion-item>

    <ion-card-content>

      <form [formGroup]="form">
        <ion-list>

          <ion-item>
            <ion-label>Modo escuro (em breve)</ion-label>
            <ion-select cancelText="Cancelar" formControlName="darkMode" okText="Selecionar">
              <ion-select-option
                *ngFor="let opt of opcoes.darkMode"
                [value]="opt.value"
              >{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="biometryAvaliable">
            <ion-label>Ativar bloqueio por digital</ion-label>
            <ng-template [ngIf]="biometryEnabled" [ngIfElse]="biometryDisabled">
              <ion-icon slot="end" color="success" name="checkmark-outline"></ion-icon>
            </ng-template>
            <ng-template #biometryDisabled>
              <ion-icon slot="end" color="danger" name="close-outline"></ion-icon>
            </ng-template>
          </ion-item>
          <ion-button
            *ngIf="biometryEnabled"
            class="ion-margin biometricSpace" size="default"
            type="button"
            expand="block"
            color="danger"
            (click)="disableBiometry()"
          >
            <ion-icon slot="start" name="finger-print-outline"></ion-icon>Desativar Biometria
          </ion-button>
        </ion-list>
      </form>


    </ion-card-content>
  </ion-card>
</ion-content>
