<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-back-button [defaultHref]="'/home'" slot="start"></ion-back-button>
    <ion-img src="assets/logo-horizontal-white.png" style="height: 45px;"></ion-img>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button fill="clear" size="large">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon color="tertiary" name="options-outline" slot="start"></ion-icon>
      <ion-label>Opções</ion-label>
    </ion-item>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-list>

          <ion-item>
            <ion-label>Modo escuro</ion-label>
            <ion-select cancelText="Cancelar" formControlName="darkMode" okText="Selecionar">
              <ion-select-option *ngFor="let opt of opcoes.darkMode"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Lembrar login</ion-label>
            <ion-select cancelText="Cancelar" formControlName="loginRemember" okText="Selecionar">
              <ion-select-option *ngFor="let opt of opcoes.loginRemember"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Valor acumulado:</ion-label>
            <ion-select cancelText="Cancelar" formControlName="valorAcumulado" okText="Selecionar">
              <ion-select-option *ngFor="let opt of opcoes.loginRemember"
                                 [value]="opt.value">{{opt.label}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Tempo de intervalo:</ion-label>
            <ion-select cancelText="Cancelar" formControlName="intervalo" name="intervalo" okText="Selecionar">
              <ion-select-option
                *ngFor="let opt of opcoes.intervalo"
                [value]="opt.value"
              >
                {{opt.label}}
              </ion-select-option>
            </ion-select>
            <!--            <ion-input formControlName="intervalo" name="intervalo" type="number"></ion-input>-->
          </ion-item>

        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="tertiary" name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Atualiações</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item *ngIf="loading" lines="none">
        <ion-spinner color="tertiary" name="crescent" slot="start"></ion-spinner>
        <ion-text>
          <h2>Verificando atualizações</h2>
        </ion-text>
      </ion-item>
      <ion-item *ngIf="!loading" lines="none">
        <ng-template [ngIfElse]="appAtualizado" [ngIf]="atualizacaoDisponivel">
          <ion-icon color="warning" name="alert-circle-outline" slot="start"></ion-icon>
          <ion-text>
            <h2>Nova versão disponível {{versaoApp}}</h2>
          </ion-text>
        </ng-template>
        <ng-template #appAtualizado>
          <ion-icon color="success" name="checkmark-done-outline" slot="start"></ion-icon>
          <ion-text>
            <h2>Aplicativo atualizado {{versaoApp}}</h2>
          </ion-text>
        </ng-template>
      </ion-item>
      <ion-button
        (click)="checkUpdate()"
        [disabled]="!plataforma"
        class="ion-margin-bottom"
        expand="block"
        fill="outline">
        Verificar atualizações
      </ion-button>
      <h2 *ngIf="!plataforma">Não é possivel baixar atualizações nesta plataforma.</h2>
      <ion-button
        (click)="download()"
        *ngIf="plataforma && !loading && atualizacaoDisponivel"
        [disabled]="atualizacao?.baixando"
        class="ion-margin-top"
        color="tertiary"
        expand="block"
        fill="solid">
        Baixar nova versão
      </ion-button>
      <ion-progress-bar
        *ngIf="atualizacao"
        [buffer]="atualizacao.baixando"
        [color]="atualizacao.getStatusColor()"
        [value]="atualizacao.porcentagem()|async"
      ></ion-progress-bar>

      <ion-list *ngIf="!loading && atualizacaoDisponivel">
        <ion-item *ngFor="let item of buildInfo">
          <ion-label style="white-space: unset;">{{item}}</ion-label>
          <ion-icon slot="end" color="warning" name="alert-outline"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
